IndicativeExchangeRates.Model/Schemas/XML/CurrencyXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tarih_Date">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Currency">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Unit" type="xs:unsignedByte" />
              <xs:element name="Isim" type="xs:string" />
              <xs:element name="CurrencyName" type="xs:string" />
              <xs:element name="ForexBuying" type="xs:decimal" />
              <xs:element name="ForexSelling" type="xs:decimal" />
              <xs:element name="BanknoteBuying" type="xs:decimal" />
              <xs:element name="BanknoteSelling" type="xs:decimal" />
              <xs:element name="CrossRateUSD" type="xs:decimal" />
              <xs:element name="CrossRateOther" type="xs:decimal" />
            </xs:sequence>
            <xs:attribute name="CrossOrder" type="xs:unsignedByte" use="required" />
            <xs:attribute name="Kod" type="xs:string" use="required" />
            <xs:attribute name="CurrencyCode" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Tarih" type="xs:string" use="required" />
      <xs:attribute name="Date" type="xs:string" use="required" />
      <xs:attribute name="Bulten_No" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>